<form action="/waiters/{{username}}" method="POST">

    <h1>Hello {{username}}</h1>
    <h2>Please select the days on which you are available to work below</h2>
    <p id="error-message">{{error}}</p>

    <div id="days">
    {{#each daysOfTheWeek}}
        <label for={{day}}> {{day}} </label>
        <input type="checkbox" value={{day}} name="days" class="workday" >
        {{!-- {{#if }} checked="true" {{/if}} --}}
    {{/each}}
        {{!-- <label for="Tuesday"> Tuesday </label>
        <input type="checkbox" value="Tuesday" name="days" class="workday">
        <label for="Wednesday"> Wednesday </label>
        <input type="checkbox" value="Wednesday" name="days" class="workday">
        <label for="Thursday"> Thursday </label>
        <input type="checkbox" value="Thursday" name="days" class="workday">
        <label for="Friday"> Friday</label>
        <input type="checkbox" value="Friday" name="days" class="workday">
        <label for="Saturday"> Saturday </label>
        <input type="checkbox" value="Saturday" name="days" class="workday">
        <label for="Sunday"> Sunday </label>
        <input type="checkbox" value="Sunday" name="days" class="workday"> --}}

        <button type="submit"> Submit </button>
    </div>

    <p id="success-message">{{success}}</p>
    {{days}}
</form>


<script>
    let error = document.querySelector('#error-message');
    let success = document.querySelector('#success-message');

    if(error.textContent != ''){
        setTimeout(function(){
            error.textContent = '';
        }, 3000)
    }

    if(success.textContent != ''){
        setTimeout(function(){
            success.textContent = '';
        }, 3000)
    }

</script>