<div id="select-days-div">
    <form action="/waiters/{{username}}" method="POST">
        <h1 id="waiter-greeting">Hello {{username}}</h1>
        <h3 id="page-heading">Please select the days on which you are available to work below</h3>
        <p id="error-message">{{error}}</p>

        <div id="days">
        {{#each daysOfTheWeek}}
            <label for={{day}} class="workday"> {{day}} </label>
            <input type="checkbox" value={{day}} name="days" {{#if checked}} checked {{/if}}>
            
        {{/each}}
            <button type="submit" id="submit-days-btn"> Submit </button>
        </div>

        <p id="success-message">{{success}}</p>
    </form>
</div>


<script>
    let error = document.querySelector('#error-message');
    let success = document.querySelector('#success-message');

    if(error.textContent != ''){
        setTimeout(function(){
            error.textContent = '';
        }, 3000)
    }

    if(success.textContent != ''){
        setTimeout(function(){
            success.textContent = '';
        }, 3000)
    }

</script>